# Workflow to publish Snap packages when a new GitHub Release is published.
# Auto-updates are handled by GitHub Releases + electron-updater.

name: Publish Release
run-name: Publish ${{ github.ref_name }}
on:
    release:
        types: [published]
jobs:
    publish-snap-amd64:
        name: Publish AMD64 Snap
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install Task
              uses: arduino/setup-task@v2
              with:
                  version: 3.x
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Snapcraft
              run: sudo snap install snapcraft --classic
              shell: bash
            - name: Download Snap from Release
              uses: robinraju/release-downloader@v1
              with:
                  tag: ${{github.ref_name}}
                  fileName: "*amd64.snap"
            - name: Publish to Snapcraft
              if: ${{ env.SNAPCRAFT_STORE_CREDENTIALS != '' }}
              run: snapcraft upload --release=stable *.snap
              env:
                  SNAPCRAFT_STORE_CREDENTIALS: "${{secrets.SNAPCRAFT_LOGIN_CREDS}}"
              shell: bash
    publish-snap-arm64:
        name: Publish ARM64 Snap
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6
            - name: Install Task
              uses: arduino/setup-task@v2
              with:
                  version: 3.x
                  repo-token: ${{ secrets.GITHUB_TOKEN }}
            - name: Install Snapcraft
              run: sudo snap install snapcraft --classic
              shell: bash
            - name: Download Snap from Release
              uses: robinraju/release-downloader@v1
              with:
                  tag: ${{github.ref_name}}
                  fileName: "*arm64.snap"
            - name: Publish to Snapcraft
              if: ${{ env.SNAPCRAFT_STORE_CREDENTIALS != '' }}
              run: snapcraft upload --release=stable *.snap
              env:
                  SNAPCRAFT_STORE_CREDENTIALS: "${{secrets.SNAPCRAFT_LOGIN_CREDS}}"
              shell: bash
